<!-- <div class="col-md-3"> -->
  <!-- <div class="col-md-3">
    <app-tassidebar [categoryName]="name" (jinal)="onSideBarClick($event)"></app-sidebar>
      <app-tasksidebar [categoryName]="name" (jinal)="onTaskSideBarClick($event)"></app-tasksidebar>

  </div> -->
<!-- </div>
<br>
<hr> -->
<div>
<table class="table">
<thead>
<th>Id</th>
<th>Title</th>
<th>Status</th>
<th>Action</th>
</thead>
<tbody>
<tr *ngFor="let item of arr">
  <td>{{item.Id}}</td>
    <td>{{item.Title}}</td>
      <td>{{item.Status}}</td>
        <td><button class="btn btn-info" (click)="onTaskDelete(item)" >Delete</button>
          <button class="btn btn-info" (click)="onTaskEdit(item)" >Edit</button>
          <button class="btn btn-info" (click)="onTaskEditReactive(item)" >Edit Reactive</button>
        </td>
</tr>
</tbody>
</table>
</div>
